
.header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    top: 0;
    background-color:rgb(5, 5, 23) ;
    height: 100px;
}

.flagge{
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: contain;
}
.header span{
    display: flex;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 15%;
    color:#DEB992 ;

}

.header a{
    color: #DEB992;
    font-size: 18px;
    text-decoration: none;
}

.links{
    margin-left: clamp(20%,62%,80%);
}

.links a{
    font-size: clamp(11px, 17px, 21px);
}

.menu-button{
    display: none;
    background-color: white;
    height: 60% !important;
    border-radius: 19px;
    position: absolute;
    right: 4%;
    top: 22%;
}

.menu-button-ersatz{
    position: relative;
    background-color: white;
    height: 60% !important;
    width: 48px;
    border-radius: 19px;
    position: absolute;
    right: 3%;
    top: 22%;
}

.streifen{
    background-color: rgb(5, 5, 24) ;
    position: absolute;
    right: 10%;
    top: 22%;
    width: 37px;
    z-index: 1;
    height: 6px;
    border-radius: 90px ;
}
.menu-links{
    height: 1000px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background-color: rgb(5, 5, 23, 0.95) ;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translateX(110%);
    transition: ease-in-out 300ms;
}

.menu-links a {
padding-bottom: 20px; ;
}
/*javascript*/
.opener{
    transform: translateX(0%);
}

.menu-links a:last-child{
    font-size: clamp(22px,32px,38px);
}