<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>grammatik</title>
</head>
<body>

<div class="mini-header"><h2>Verben in (passende zeitform)</h2> </div>

    <div class="overlay">
    <div class="verbcontainer">
        <div class="verbs-sub">
        <span>(avoir) je k</span>
        <span> tu</span>
        <span> il/elle</span>
         <span>nous</span>
         <span>vous</span>
         <span>ils/elles</span>
        </div>

        <div class="verbs-sub">
            <span>(etre) je k</span>
            <span> tu</span>
            <span> il/elle</span>
             <span>nous</span>
             <span>vous</span>
             <span>ils/elles</span>
            </div>

            <div class="verbs-sub">
                <span> je k</span>
                <span> tu</span>
                <span> il/elle</span>
                 <span>nous</span>
                 <span>vous</span>
                 <span>ils/elles</span>
                </div>


    </div>
   
    <div class="video">
        <iframe width="420" height="315"
        src="https://youtu.be/yIWBPqxSakQ">
        </iframe>
    </div>

    </div>
     
     
    <div class="beispiel">
        <h2>Beispiel sätze in (passende zeitform)</h2>
        <div class="beispielsätze-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quod, ab, sit voluptates esse est, fugit omnis ut facere odio velit. Consequuntur alias ut harum nam impedit quae expedita sit?</div>
        <div class="beispielsätze-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quod, ab, sit voluptates esse est, fugit omnis ut facere odio velit. Consequuntur alias ut harum nam impedit quae expedita sit?</div>
        <div class="beispielsätze-sub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quod, ab, sit voluptates esse est, fugit omnis ut facere odio velit. Consequuntur alias ut harum nam impedit quae expedita sit?</div>
    </div>
    <div class="übung">
        <div>falls du (zeitform) verstanden hast versuch dich mal an der übung</div>
        <div>Bild mit der zeitform zum anclicken</div>
    </div>

    <div class="refer">
        <span>falls du noch mehr übungen brauchst guck die gerne mehr zur grammatik an</span>
        <div> 
            und hier kommen die anderen 
        </div>
    </div>
</body>
</html>